body {
  background: aquamarine;
  color: deeppink;
}
p {
  font-family: cursive;
  margin: 10px;
}
h1 {
  font-weight: bold;
}
h2 {
  text-decoration: underline wavy; 
}

h3 {
  text-decoration: underline wavy; 
  text-align: right;
  
}
h4 {
  color:aquamarine;
}
h5 {
  font-family: monospace;
}
h6 {
  font-style: italic;
}

hr {
  width: 100%;
}
img {
  width: 300px;
  border-radius: 20px;
  float: left;
  margin: 10px;
  border-style: groove;
  border-color: deeppink;
}
  